.contact-page {
  padding: 60px 8%;
  text-align: center;
  background-color: #f8f9fa;
}

.contact-title {
  font-size: 2.5rem;
  color: #222;
  margin-bottom: 10px;
}
.contact-title span {
  color: var(--sacondry-color);
}

.contact-subtitle {
  color: #666;
  margin-bottom: 40px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
}

.contact-info {
  flex: 1 1 300px;
  max-width: 350px;
  text-align: left;
}

.info-box {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 25px;
}

.info-box .icon {
  font-size: 22px;
   color: var(--main-color);
  margin-top: 5px;
}

.contact-form {
  flex: 1 1 400px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.input-group {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.input-group input,
.contact-form textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
}

.contact-form textarea {
  resize: none;
}

.send-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: var(--main-color);
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.send-btn:hover {
  background: #171f2fbd;
}

/* Map */
.map-container {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
