.Cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e9e9e9;
}
.Cart > p{
    margin-top: 50px;
    font-size: 35px;
    font-weight: 600;

} 
.Cart > p span{
color: #ffd600;
} 
.fwfjof{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.Cart .continer{
    display: flex;
    background-color: #fff;
    padding: 9px 10px;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;

}
.Cart .continer .imgejds{
width: 10%;

}
.Cart .continer .imgejds img{
width: 100%;
}
.Cart .continer .fksdf{
 font-size: 14px;
}
.Cart .continer .priceto{
display: flex;
flex-direction: column;
gap: 5px;
}
.Cart .continer .priceto > p {

}
.Cart .continer .priceto .fsdf{
font-weight: 600;
color: #111827;
}
.Cart .continer .plum{
display: flex;
justify-content: space-around;
gap: 20px;
align-items: center;
}
.Cart .continer .plum .plus{
  background: #111827;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.5s;
  outline: none;
}
.Cart .continer .plum .plus:hover{
background:#111827a1 ;
}
.Cart .continer .plum .muns{
background: #111827;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.5s;
  outline: none;
}
.Cart .continer .plum .muns:hover{
background: #111827a6;
}
.Cart .continer .plum span{

}
.Cart .continer .sfsf{
background: rgb(228, 12, 12);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.5s;
  outline: none;
}
.Cart .continer .sfsf:hover{
background: rgba(255, 0, 0, 0.705);
}
.Cart .totoakfsd{
margin-bottom: 50px;
background-color: #fff;
padding: 20px 50px;
width: 50%;
display: flex;
justify-content: space-around;

}
.Cart .totoakfsd p{

}
.dsdffr{
  display: none;
}
.foffmsd{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.fdsjfoo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.fdsjfoo .dsfff{
  color: rgba(40, 40, 240, 0.719);
  transition: 0.3s ease;
}
.fdsjfoo .dsfff:hover{
  font-weight: 600;
  color: rgb(40, 40, 240);
}
.fdsjfoo .fmsdof{
  color: red;
}
.none{
  opacity: 0.5;
  pointer-events: none;
}