.fav-container {
  padding: 50px 20px;
  text-align: center;
}

.fav-container h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.fav-container span {
  color: crimson;
}

.empty-fav {
  margin-top: 60px;
}

.back-btn {
  background: crimson;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
}

.fav-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 25px;
}

.fav-card {
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.fav-card:hover {
  transform: translateY(-4px);
}

.fav-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.fav-card h3 {
  font-size: 16px;
  margin: 10px 0;
}

.remove-btn {
  background: crimson;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.remove-btn:hover {
  background: darkred;
}
