.Header{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    background-color:#ced2d7 ;
}
.Header .headerleft{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;
    max-width:40%;
}
.Header .headerleft>span{
    font-size: 23px;
    width: max-content;
    padding: 12px 20px;
    border-radius: 20px;
    font-size: 15px;
    background-color: #f2f5f8;
    color: #111827;
    font-weight: 700;
    letter-spacing: 1px;
}
.Header .headerleft h1{
    display: flex;
    flex-direction: column;
    font-size: 70px;
    font-weight: 700;
    color: #111827;
    line-height: 1.2;
}
.Header .headerleft h1 span{
    color: #111827b2;
}
.Header .headerleft p{
    font-size: 18px;
    color: #00000094;
    line-height: 1.5;
}
.Header .headerleft .btn{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.Header .headerleft  button{
    width: max-content;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #111827;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 5px;
}
.Header .headerleft button .ops{
    font-size: 25px;
}
.Header .headerleft button:hover{
    background-color: #000;
}

.Header .headerleft .btn-2{
    background-color: transparent;
    border: 2px solid #111827;
    color: #111827;
    transition: 0.3 ease;
}

.Header .headerleft .btn-2:hover{
    background-color: #fff;
    color: #000;
}
.Header .headerright{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Header .headerright .imghed{
    position: relative;
}
.Header .headerright .imghed img{
    width: 100%;
    border-radius: 20px;
}
.Header .headerright .imghed span{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #f2f5f8;
    color: #000000c0;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
}
.Header .headerright .imghed span::before{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(21, 128, 0, 0.87);
    display: inline-block;
    margin-right: 10px;
    animation: pulse 2.5s infinite  ;

}
@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width:900px) {
  .Header{
        flex-direction: column;
        height: auto;
        padding: 50px 5%;
        gap: 30px;
    }
    .Header .headerleft{
        max-width: 100%;
        align-items: center;
        text-align: center;
    }
    .Header .headerleft h1{
        font-size: 40px;
    }
    .Header .headerleft p{
        font-size: 16px;
    }
    .Header .headerright{
        width: 100%;
    }
    .Header .headerright .imghed{
        width: 100%;
    }
}



@media (max-width: 640px) {
    .Header{
        flex-direction: column;
        height: auto;
        padding: 50px 5%;
        gap: 30px;
    }
    .Header .headerleft{
        max-width: 100%;
        align-items: center;
        text-align: center;
    }
    .Header .headerleft h1{
        font-size: 40px;
    }
    .Header .headerleft p{
        font-size: 16px;
    }
    .Header .headerright{
        width: 100%;
    }
    .Header .headerright .imghed{
        width: 100%;
    }
}